
* {
  box-sizing :border-box ;
  margin : 0 ;
  padding : 0 ;
  font-size: 26px;
  font-family : 'poppins' , 'verdana' , sans-serif ;
}

body {
  margin : 0 ;
  padding : 0 ;
}



/*   ----          STYLING FOR DAY/NIGHT MODE             ----- */
.day {
   position : fixed ;
   width : 70px;
   height: 70px ;
   border : solid 2px orange ;
   background-image : url('images/sun.jpg') ;
   background-size : contain ;
   border-radius : 35px ;
   top : 12% ;
   right : 3% ;
   animation : go 1s ease-out  ;
   float: right;
}

.night {
   position : fixed ;
   width : 70px;
   height: 70px ;
   border : solid 2px black ;
   background-image : url('images/moon.jpg') ;
   background-size : contain ;
   border-radius : 35px ;
   top : 12% ;
   right : 3% ;
   animation : go 1s ease-out   ;
   float: auto;
}





/*   ----          STYLING OF ELEMENTS             ----- */

header {
  display : flex ;
  height : 70px ;
  text-align : center ;
  padding : 3px ;
  font-size  :3rem ;
  font-weight : bold ;
  background : linear-gradient( to top right,yellow,blue) ;
  align-items : center ;
  user-select: none ;
  gap: 30px;
}
header img {
  position : relative ;
  width : 60px ;
  height : 60px ;
  border-radius : 50% ;
  top : 1px ;
  animation : rotateflip 10s ease-in ;
  margin-left : 10% ;
}
header img:hover {
  width : 80px ;
  height : 80px ;
}


/*   CODE FOR NAVIGATION BAR  */

nav {
  height : 35px ;
  width : 100% ;
  text-align : center ;
  margin-top : 2px ;
  padding : 1px ;
  font-size  :1.8rem ;
  font-weight : bold ;
  background : linear-gradient( to top right,yellow,blue) ;
  border-radius : 2px ;
  letter-spacing : 2px ;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navlinks {
  display: flex;
}
nav ul li {
  list-style: none;
}

.layer div {
  width : 20px;
  height : 3px ;
  background: black ;
  margin : 5px;
  display : none ;
}
.navlinks p {
  display: none;
}
.navlink {
  text-decoration: none;
  color: inherit ;
  margin : 0 4px ;
  cursor : pointer ;
  padding : 1px ;
}
.navlink:hover {
  background : black ;
  border-radius : 4px ;
  color : yellow;
}

#hero-section {
  position : relative ;
  margin : 0 ;
  padding : 15px 0 ;
  text-align: center ;
  border-radius : 3px ;
  display : flex ;
  flex-direction : row ;
  align-items : center ;
}
#hero-section::before {
  margin : 0 ;
  content: '' ;
  position : absolute ;
  top: 0;
  bottom : 0 ;
  width : 100% ;
  height: 100% ;
  background-image: url("images/coderimg.jpg");
  background-size: cover ;
  background-position : center ;
  opacity : 0.3 ;
  z-index: -1 ;
}
#hero-section img {
  flex-direction : flex-start;
  margin-right : 20px ;
  width : 100px ;
  height : 100px ;
  border-radius : 50% ;
}
#hero-section h2 {
  margin : 10px ;
  font-size : 1.5rem ;
}
#hero-section p {
  margin : 10px ;
}
.redirect-to-contact  {
  margin : 10px ;
  padding : 10px ; 
  font-weight : bold ;
  border: none ;
  outline : none;
  border-radius : 10px ;
  color : white ;
  background-color : orangered ;
  cursor : pointer ;
  transition : 0.2s ;
  user-select : none ;
}
.redirect-to-contact:hover, #Contact button:hover {
  animation : scale 0.8s linear 2;
}

#Contact button  {
  margin : 0 20px 10px ;
  padding : 10px ; 
  font-weight : bold ;
  border: none ;
  outline : none;
  border-radius : 10px ;
  color : white ;
  background : linear-gradient(to top right, yellow, blue) ;
  cursor : pointer ;
  transition : 0.2s ;
}

  
footer {
  position : relative ;
  left : 0 ;
  right : 0 ;
  bottom : 0 ;
  width: 100% ;
  background : linear-gradient( to top right,yellow,blue) ;
  margin : 0 ;
  padding : 3px 0 ;
  text-align: center;
  color : black ;
  font-size: 2.5rem;
  letter-spacing : 2px ;
}


li {
  margin : 15px ;
  list-style: none;
}




/*   ----          STYLING OF PROJECT SECTION RELATED STUFFS AND FOOTER STUFFS             ----- */

#show-hide {
  display: inline-block;
  margin : 10px 70px ;
  padding : 3px ;
  background : orange ;
  box-shadow : 2px 2px 4px orangered;
  border : solid 2px gold ;
  border-radius: 5px;
  font-weight : bold ;
  transition : 0.2s ;
  text-align: center ;
  cursor : pointer ;
  user-select : none ;
}
#show-hide:hover {
  animation : showHide 1s ease ;
}
.hide {
  display : none ;
}

.vessel {
  margin: 10% 5px ;
  padding : 10px ;
  border-radius: 5px;
}
.vessel h2 {
  display: block;
  width: 100%;
  text-decoration: overline  underline;
  margin : 2px ;
  padding : 2px ;
  font-size : 1.5em ;
}


.specific-projects {
  margin: 16px 4px;
  padding: 4px;
  border : solid 1px gainsboro ;
  border-radius: 5px ;
  display :flex ;
  align-items : center ;
}
.specific-projects img {
  width : 100px ;
  height : 100% ;
  border-radius : 50% ;
}
.project-description {
  margin-left : 30px ;
}
.project-description h3 {
  color: blue;
  margin : 10px 4px ;
  font-size : 1.2em ;
}
.project-description .checkout {
  text-decoration: none ;
  display: inline-block;
  margin : 10px 70px ;
  padding : 3px ;
  color : gray ;
  background : gold ;
  box-shadow : 2px 2px 4px orangered;
  border : solid 2px gold ;
  border-radius: 5px;
  font-weight : bold ;
  transition : 0.2s ;
  text-align: center ;
  user-select : none ;
}
.project-description .checkout:hover {
  animation : scale 0.8s linear 2;
}

footer p {
  margin : 8px 0 ;
  text-transform: capitalize;
  user-select : none ;
}
.footerlink {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}

.footerbutton {
  padding: 0 ;
  background: transparent;
  border: none;
  margin : 3px  ;

}
.footerbutton img {
  width : 70px ;
  height: 70px ;
}






/*   ----          STYLING OF IDS             ----- */

#About nav, #Contact nav , #projects nav {
  margin-bottom : 50px ;
  display : flex ;
  justify-content : space-between ;
  color : white ;
}

#About h3 {
  margin : 50px 30px 20px ;
}






@keyframes go {
  0% {transform : rotate(0deg)}
  10% {transform : rotate(-60deg)}
  25% {transform : rotate(180deg)}
  50% {transform : rotate(560deg)}
  100% {transform : rotate(720deg)}
}

@keyframes rotateflip {
  0% {transform : rotate(0deg)}
  5% {transform : rotate(-60deg)}
  10% {transform : rotate(180deg)}
  40% {transform : rotate(720deg)}
  50% ,77% , 100% {transform : rotateY(0deg)}
  64%, 89% {transform : rotateY(180deg)}
}

@keyframes showHide {
  0% {transform : rotatex(0deg)}
  50% {transform : rotatex(-60deg)}
  100% {transform : rotatex(0deg)}
}

@keyframes scale {
  0% {transform : scale(1)}
  50% {transform : scale(1.2)}
  100% {transform : scale(1)}
}







@media only screen and (max-width: 750px) {
body {
  overflow-x: hidden;
}
header {
  position :  fixed ;
  width: 100%;
  top: 0 ;
  gap: 10px ;
  z-index: 9;
}
header img {
  margin-left : 3px ;
}
nav {
  background: transparent;
}
.navlinks {
  position : fixed ;
  top: 68px;
  left : 0 ;
  width: 50%;
  min-height: 80%;
  background-image: linear-gradient(200deg , yellow, blue);
  z-index: 2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transition : transform 0.5s ease-in ;
  transform: translateX(-100%);
}
.navlinks li {
  margin: 40px auto;
  opacity: 0;
}
.navlinks p {
  display: block;
  position: absolute;
  bottom : 2px ;
  left: 3px;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0;
}
.navlinks p:hover {
  color:white ;
}
.layer {
  border-radius: 5px;
  cursor: pointer;
}
.layer div {
  display: block;
  transition: all 0.3s ease ;
}


.vessel {
  margin: 15% 2px ;
  padding : 5px ;
  border-radius: 5px;
}
.specific-projects {
  margin: 16px 2px; 
}
.project-description {
  margin-left : 10px ;
}
.specific-projects img {
  width : 70px ;
  height : 70px ;
  border-radius : 50% ;
}
#hero-section {
  margin : 10px ;
  padding : 15px ;
  text-align: center ;
  border-radius : 15px ;
  background : none; 
  display : flex ;
  flex-direction : column ;
  background-image : url('');
  border : 3px dotted blue ;
  box-shadow : 1px 1px 2px red ;
}
#hero-section::before {
  content: '' ;
  position : absolute ;
  top: 0;
  bottom : 0 ;
  width : 100% ;
  height: 100% ;
  background-image: url("images/coderimg.jpg");
  background-size: cover ;
  background-position : center ;
  opacity : 0.2 ;
  z-index: -1 ;
}
#hero-section img {
  display : block ;
  margin : auto;
  width : 100px ;
  height : 100px ;
  border-radius : 50% ;
}


}

/* TOGGLED CLASSES FOR THE DIV WHEN CLICKED TO DISPLAY THE NAVIGATION BAR AND THAT OF THE LIST ITEMS(LINKS) */

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* WHEN THE DIV IS CLICKED TO DISPLAY THE NAVIGATION BAR, THE NAVIGATION BAR IS TRANSFORMED FROM TRANSLATE(-100%) TO TRANSLATE(0%), THUS THE NAME '.navlinks-active' */
 .navlinks-active {
  transform: translate(0%);
 }


 /* KEYFRAMES FOR MEDIA QUERY .navlinks slider(ul to slide from left to right with the links in it)  */
@keyframes navFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0)
  }
}





